[submodule "docs"]
	path = docs
	url = https://github.com/HeavyEyelid/virthttp.wiki.git
[submodule "thirdparty/rapidxml_ns"]
	path = thirdparty/rapidxml_ns
	url = https://github.com/svgpp/rapidxml_ns.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/lift"]
	path = thirdparty/lift
	url = https://github.com/rollbear/lift.git
[submodule "thirdparty/inih"]
	path = thirdparty/inih
	url = https://github.com/jtilly/inih.git
[submodule "thirdparty/ctre"]
	path = thirdparty/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions
[submodule "thirdparty/gsl"]
	path = thirdparty/gsl
	url = https://github.com/microsoft/GSL
